/* ==========================================================================
  HEADER LAYOUT
  ========================================================================== */
.l-header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: var(--z-sticky);
  top: 0;
  color: var(--color-text-main);
  background-color: var(--bg-app-header);
  padding: var(--space-lg);
  min-width: 0;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  min-width: fit-content;
  flex-shrink: 0;
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
.header__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 0 1 auto;
  margin-right: var(--space-md);
}

/* ==========================================================================
   TABLET HEADER
   ========================================================================== */
@media (max-width: 950px) {
  .l-header {
    padding: 0 var(--space-md);
  }
}
