/* -------------- Privacy & Imprint -------------- */
.legal-view {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  font-family: var(--font-primary);
}

.legal-view__section {
  display: flex;
  flex-direction: column;
}

.legal-view__label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-medium-grey);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-s);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-sm);
}

.legal-view__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.legal-view__text {
  font-size: var(--font-size-body-l);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-l);
}

.legal-view__text strong {
  font-weight: var(--font-weight-bold);
}

.legal-view__text--italic {
  font-style: italic;
  color: var(--color-main);
}

.legal-view__text--bold {
  font-weight: var(--font-weight-bold);
}

.legal-view__list {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.legal-view__list li {
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body-l);
  position: relative;
}

.legal-view__list li::before {
  content: "•";
  color: var(--color-main);
  position: absolute;
  left: -1.25rem;
  font-weight: var(--font-weight-bold);
}

.legal-view__link {
  color: var(--color-main);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  transition: color var(--transition);
}

.legal-view__link:hover {
  color: var(--color-main-hover);
  text-decoration: underline;
}

/* -------------- Responsive Layout -------------- */
@media (max-width: 950px) {
  .legal-view {
    padding-bottom: calc(5rem + var(--space-2xl));
  }

  .legal-view__label {
    margin-bottom: var(--space-sm);
  }
}
