.gateway {
  width: 100%;
  max-width: 35rem;
  background-color: var(--bg-app-card);
  border-radius: var(--radius-sidebar);
  box-shadow: var(--shadow-modal);
  border: 1px solid var(--color-lines);
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.gateway.transition-ready {
  transition: height 0.4s ease-in-out;
}

.gateway__stage {
  display: flex;
  width: 200%;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform;
  align-items: flex-start;
}

.view-wrapper {
  width: 50%;
  flex-shrink: 0;
  padding: var(--space-2xl) var(--space-3xl);
  box-sizing: border-box;
  height: auto;
}
