/* ==========================================================================
   Utils
   ========================================================================== */
.u-mb-md {
  margin-bottom: var(--space-md);
}

.u-mb-sm {
  margin-bottom: var(--space-sm);
}

.u-mb-xs {
  margin-bottom: var(--space-xs);
}
