/* ==========================================================================
   PADDING & MARGIN UTILITIES
   ========================================================================== */

.u-p-md {
  padding: var(--space-md);
}

.u-pt-lg {
  padding-top: var(--space-lg);
}

.u-pl-md {
  padding-left: var(--space-md);
}

.u-pl-sm {
  padding-left: var(--space-sm);
}

.u-pr-sm {
  padding-right: var(--space-sm);
}

.u-pl-xs {
  padding-left: var(--space-xs);
}

.u-mb-lg {
  margin-bottom: var(--space-lg);
}

.u-mb-md {
  margin-bottom: var(--space-md);
}

.u-mb-sm {
  margin-bottom: var(--space-sm);
}

.u-mb-xs {
  margin-bottom: var(--space-xs);
}

.u-ml-sm {
  margin-left: var(--space-sm);
}
