.l-app {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.l-sidebar {
  grid-area: sidebar;
  background-color: var(--bg-sidebar);
  border-right: 1px solid var(--color-lines-dark);
  display: flex;
  flex-direction: column;
}

.l-header {
  grid-area: header;
  background-color: var(--bg-page);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-lines-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(8px);
  padding: 0 var(--space-lg);
  position: sticky;
  z-index: var(--z-sticky);
  top: 0;
}

.l-content {
  grid-area: content;
  background-color: var(--bg-page);
  overflow: auto;
  padding: var(--space-lg);
}
