<h1 class="header__title heading-2xl" id="js-header-title"></h1>

<div class="header__actions">
  <button class="btn btn--l btn--primary u-min-w-11" id="js-header-action">
    <div class="btn-group">
      <i class="fa-solid fa-plus hidden-on-desktop"></i>
      <span class="btn-text" id="js-header-action-text"></span>
    </div>
  </button>

  <div class="menu-dropdown">
    <button class="avatar avatar--header avatar--clickable menu-dropdown__trigger" id="js-menu-trigger" aria-label="User Menu">JD</button>

    <div class="menu-dropdown__content" id="js-menu-content">
      <div class="menu-dropdown__group">
        <span class="menu-dropdown__label heading-xs">Account</span>
        <a href="privacy.html" class="menu-dropdown__link">Privacy Policy</a>
        <a href="legal.html" class="menu-dropdown__link">Legal Notice</a>
        <a href="help.html" class="menu-dropdown__link">Help & Guide</a>
      </div>

      <div class="menu-dropdown__theme-toggle">
        <hr class="menu-dropdown__divider" />
        <span class="menu-dropdown__label heading-xs">Appearance</span>
        <div class="theme-switch theme-switch--dropdown">
          <img src="assets/icons/icon-light-theme.svg" alt="Light Theme" class="theme-switch__icon" />
          <label class="switch">
            <input type="checkbox" id="theme-toggle-dropdown" />
            <span class="slider"></span>
          </label>
          <img src="assets/icons/icon-dark-theme.svg" alt="Dark Theme" class="theme-switch__icon" />
        </div>
      </div>

      <hr class="menu-dropdown__divider" />
      <a href="index.html" id="logoutLink" class="menu-dropdown__link menu-dropdown__link--danger">Logout</a>
    </div>
  </div>
</div>
