<header class="header">
  <h1 class="header__title heading-l">Board Name</h1>

  <div class="header__actions">
    <button class="button-primary">+ Add New Task</button>

    <div class="menu-dropdown">
      <button class="menu-dropdown__trigger" id="js-menu-trigger">
        <img src="assets/icons/icon-vertical-ellipsis.svg" alt="More Options" />
      </button>

      <div class="menu-dropdown__content" id="js-menu-content">
        <a href="privacy.html" class="menu-dropdown__link">Privacy Policy</a>
        <a href="legal.html" class="menu-dropdown__link">Legal Notice</a>
      </div>
    </div>
  </div>
</header>
