<div class="sidebar__header">
  <img class="sidebar__logo" src="assets/icons/logo-dark.svg" alt="Kanvera Logo" />
</div>

<nav class="sidebar__nav">
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <a href="pulse.html" class="nav-item">
        <span class="nav-item__icon icon-board"><i class="fa-solid fa-bolt"></i></span>
        Pulse
      </a>
    </li>

    <li class="sidebar__item">
      <a href="board.html" class="nav-item">
        <span class="nav-item__icon icon-board"><i class="fa-brands fa-trello"></i></span>
        Board
      </a>
    </li>
    <li class="sidebar__item">
      <a href="inbox.html" class="nav-item">
        <span class="nav-item__icon icon-add"><i class="fa-regular fa-clipboard"></i></span>
        Inbox
      </a>
    </li>
    <li class="sidebar__item">
      <a href="team.html" class="nav-item">
        <span class="nav-item__icon icon-contacts"><i class="fa-solid fa-users"></i></span>
        Team
      </a>
    </li>
  </ul>
</nav>

<div class="sidebar__footer">
  <div class="theme-switch theme-switch--box">
    <img src="assets/icons/icon-light-theme.svg" alt="Light Theme" class="theme-switch__icon" />

    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>

    <img src="assets/icons/icon-dark-theme.svg" alt="Dark Theme" class="theme-switch__icon" />
  </div>
</div>
