<div class="sidebar__logo-ctn">
  <img class="sidebar__logo" src="assets/icons/logo-light.svg" alt="Kanvera Logo" />
</div>

<nav class="sidebar__nav">
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <a href="pulse.html" class="nav-item">
        <span class="nav-item__icon icon-board"><i class="fa-solid fa-chart-simple"></i></span>
        Pulse
      </a>
    </li>

    <li class="sidebar__item">
      <a href="board.html" class="nav-item">
        <span class="nav-item__icon icon-board"><i class="fa-brands fa-trello"></i></span>
        Board
      </a>
    </li>
    <li class="sidebar__item">
      <a href="add-task.html" class="nav-item">
        <span class="nav-item__icon icon-add"><i class="fa-solid fa-plus"></i></span>
        Add Task
      </a>
    </li>
    <li class="sidebar__item">
      <a href="contacts.html" class="nav-item">
        <span class="nav-item__icon icon-contacts"><i class="fa-regular fa-address-card"></i></span>
        Contacts
      </a>
    </li>
  </ul>
</nav>
