/* ==========================================================================
   TASK DETAIL - MODAL VIEW
   ========================================================================== */
.task-detail__description {
  color: var(--color-medium-grey);
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body);
}

.subtask-item {
  background-color: var(--color-subtask-bg);
  padding: var(--space-sm);
  border-radius: var(--radius-task-category);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-xs);
  transition: background-color var(--transition);
}

.subtask-item:hover {
  background-color: var(--color-subtask-bg-hover);
}

.subtask-text.is-done {
  text-decoration: line-through;
  opacity: 0.5;
}

/* ==========================================================================
    META GRID
   ========================================================================== */
.task-detail__meta-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.meta-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

/* ==========================================================================
  DATE PICKER
   ========================================================================== */
.js-task-due-date::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.js-task-due-date {
  position: relative;
  cursor: pointer;
  width: 100%;
  min-height: 40px;
  font-size: var(--font-size-body-l);
}

.js-task-due-date:focus {
  outline: none;
  border-color: var(--color-main);
}

/* ==========================================================================
    PRIORITY DISPLAY
   ========================================================================== */
.priority-display {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-xs) var(--space-sm) 0;
  width: fit-content;
}

.priority-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.priority-text {
  font-size: var(--font-size-body-l);
  color: var(--color-text-main);
}

/* ==========================================================================
   SUBTASK CHECKBOX
   ========================================================================== */
.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}

.subtask-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  user-select: none;
}

.icon-checked {
  display: none;
  color: var(--color-main);
}

.icon-unchecked {
  color: var(--color-medium-grey);
}

.subtask-input:checked + .subtask-label .icon-checked {
  display: inline-block;
}

.subtask-input:checked + .subtask-label .icon-unchecked {
  display: none;
}

.subtask-text.is-done {
  text-decoration: line-through;
  color: var(--color-medium-grey);
  opacity: 0.6;
}

.hidden {
  display: none;
}
